/*CSS for UV index ratings*/
.lowUV {
    background-color: rgb(0, 255, 21);
}
.medUV {
    background-color: #FFFF00;
}
.highUV{
    background-color: rgb(255, 0, 0);
}
/*Expands the search bar when no city has been search for yet*/
.noCity {
    width:100%;
}
/*Hides the city details card until a city has been searched for*/
#cityDetails {
    display:none;
}